<body style="background-image: url('https://www.elegantthemes.com/blog/wp-content/uploads/2019/09/Discourse-WordPress.png')">
<div class="container card col-md-6 my-4 bg-info p-2" >
    <h1 class="d-flex align-items-center justify-content-center m-6">Welcome to Discourse Web App</h1>
</div>
</body>
